<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Welcome <%=@artist.name%></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"></div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="span4"></div>
          <div class="span4">
            <img class="center-block img-rounded" src="https://ununsplash.imgix.net/photo-1421098518790-5a14be02b243?w=1024&q=50&fm=jpg&s=24665881d66f79925810c2deb7e486b9"
            width="304" height="236">
          </div>
          <div class="span4"></div>
        </div>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ol class="list-unstyled text-center">
                  <li style="font-size:25px;">Hometown: <%= @artist.hometown %></li>
                  <li style="font-size:25px;">Bio: <%= @artist.bio %></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
            <div class="col-md-12">
              <h1 class="text-center">Active Songs</h1>
            </div>
            <div class="col-md-12">

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Song Title</th>
                    <th>Listens</th>
                    <th>Likes</th>
                    <th>Expiration Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% @artist.songs.each do |song| %>
                  <tr>
                    <td><%= link_to song.name, artist_song_path(@artist, song) %></td>
                    <td><%= song.listens.count%></td>
                    <td><%= song.favorites.count%></td>
                    <td><%= song.expire.strftime("%b %d, %Y at %I:%M%p") %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
            <div class="col-lg-5">
              <div class="col-md-12">
                <h1 class="text-center">Drop Song</h1>
              </div>
              <div class="col-md-12">
                <p id="demo"></p>
                <%=render partial: '/shared/map'%>
                <button id="reset">Reset</button>
                <br><br>
                <%=render partial: '/shared/errors', locals: {errors: @errors} %>
                <%=render '/shared/flash' %>
                <%= render 'songs/new', locals: {song: @song} %>
              </div>
            </div>
        </div>
    </div>
