
<br><br><br><h1><%=@artist.name%></h1>
<div id="new-song">
  <h4>Drop song</h4>
<p id="demo"></p>
<%=render partial: '/shared/map'%>
<button id="reset">Reset</button>
<br><br>

<%= render 'songs/new', locals: {song: @song} %>
</div>
<div id="artist-songs">
  <h4>Active Songs</h4>
  <ol>
  <% @artist.songs.each do |song| %>
  <li>
    Title: <%= link_to song.name, artist_song_path(@artist, song) %><br>
    <!--<%= song.locations.first.radius %><br>-->
    Location: <%= song.address_street %> - <%= song.address_location %><br><br>

  </li>
  <%end%>
</ol>
</div>

