

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome <%=@artist.name%></h1>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span4"></div>
    <div class="span4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span4"></div>
    <div class="span4"></div>
  </div>
</div>


<section class="module parallax parallax-1">
<div class="section">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4">
        <img class="center-block img-rounded" src="<%= @artist.profile_picture %>"
        width="304" height="236">
      </div>
      <% if current_user.artists.first.id == @artist.id%>
      <!-- Button trigger modal -->

    <div class="text-center"><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
      Edit Profile
    </button>
  </div>
  <% end %>
      <div class="span4"></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="list-unstyled text-center">
              <li class="bg-primary" style="font-size:25px;">Hometown: <%= @artist.hometown %></li>
              <li class="bg-primary" style="font-size:25px;"><%= @artist.bio %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <section>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 fix-top">
      <div class="col-md-12">
        <h2 class="text-center">Song Activity</h2>
      </div>

      <div class="col-md-12">
        <p id="demo"></p>
          <div id="heatmap-container">

          <div id="heatmap"></div></div>
          <div id="message"></div>
          <div id="button-group">

              <%@artist.songs.each do |song|%>
              <button class="heatmap-button btn btn-primary" id="<%=song.id%>"><%=song.name%></button>
              <%end%>
              <button class="btn btn-primary" id="all">ALL</button>
            </div>

            <h2 class="text-center">Active Songs</h2>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Song Title</th>
              <th>Listens</th>
              <th>Likes</th>
              <th>Expiration Date</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <% @artist.songs.each do |song| %>
            <tr>
              <td><%= link_to song.name, artist_song_path(@artist, song) %></td>
              <td><%= song.listens.count%></td>
              <td><%= song.favorites.count%></td>
              <% if song.expire != nil %>
              <td><%= song.expire.strftime("%b %d, %Y at %I:%M%p") %></td>
              <%end%>
              <td><%= song.neighborhood %> <%= song.city %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col-lg-5 fix-top">
      <div class="col-md-12">
        <h2 class="text-center">Drop Song</h2>
      </div>
      <div class="col-md-12">
        <p id="demo"></p>

        <%=render partial: '/shared/map'%>
        <button class="btn btn-primary" id="reset">Reset</button>
        <br><br>
        <%= render partial: '/shared/errors', locals: {errors: @errors} %>
        <%= render '/shared/flash' %>
        <%= render 'songs/new', locals: {song: @song} %>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close"
                 data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">
                  Edit Profile
              </h4>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
              <%= render template: '/artists/edit'%>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">
                          Close
              </button>
          </div>
      </div>
  </div>
</div>
