
<br><br><br><h1><%=@artist.name%></h1>
<div id="new-song">
  <h4>Drop song</h4>
<p id="demo"></p>
<%=render partial: '/shared/map'%>
<button id="reset">Reset</button>
<br><br>
<%=render partial: '/shared/errors', locals: {errors: @errors} %>
<%=render '/shared/flash' %>
<%= render 'songs/new', locals: {song: @song} %>
</div>
<div id="artist-songs">
  <h4>Active Songs</h4>
  <ol>
  <% @artist.songs.each do |song| %>
  <li>
    Title: <%= link_to song.name, artist_song_path(@artist, song) %><br>

    Location:
    <% if song.address != nil %>
      <%= song.address_location %>, <%= song.address_state %><br>
      <% end %><br>
    Expiration Date:
      <% if song.expire != nil %>
        <%= song.expire.strftime("%b %d, %Y at %I:%M%p") %>
      <% else %>
        Music never dies
      <% end %>

    <br><br>

  </li>
  <% end %>
</ol>

</div>

