<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-left">
          <%= form_for @user, :html => {:role => "form", :class => "registration-form"} do |f| %>

          <div class="form-group">
            <%= f.text_field :f_name, class: "form-control", placeholder: "First Name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :l_name, class: "form-control", placeholder: "Last Name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
          </div>

          <div class="form-group">
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
          </div>
          <div class="input-group">
          <%= f.submit "Register", class: "btn btn-default" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
