<section class="user-info-wrapper col-sm-12">

  <h1>Welcome <%=@user.username%></h1>
  <table class="table">
    <tr><td>User info: <%= link_to "Edit", edit_user_path, class: "edit-user-btn" %></td></tr>
    <tr><td><%= @user.f_name%> <%= @user.l_name%></td></tr>
     <tr><td><%= @user.email%></td></tr>
  </table>
</section>
