
<article class="greeting container">
  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Welcome <%=@user.username%>
    </div>
  </section>
</article>

<section class="module parallax parallax-1">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4">
          <% if @user.profile_picture %>
          <img class="center-block img-rounded" src="<%= @user.profile_picture %>"
          width="304" height="236">
          <% else %>
          <img class="center-block img-rounded" src="https://www.drupal.org/files/profile_default.png"
          width="304" height="236">
          <% end %>
        </div>
        <div class="text-center">
          <% if current_user.id == @user.id%>
          <!-- Button trigger modal -->
          <button class="btn black-button btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
          Edit Profile
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                      <button type="button" class="close"
                         data-dismiss="modal">
                             <span aria-hidden="true">&times;</span>
                             <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                          Edit Profile
                      </h4>
                  </div>

                  <!-- Modal Body -->
                  <div class="modal-body">
                      <%= render template: '/users/edit'%>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default"
                              data-dismiss="modal">
                                  Close
                      </button>
                  </div>
              </div>
          </div>
          </div>
          <%end%>
        </div>
        <div class="span4"></div>
      </div>
    </div>
  </div>
</section>

<main class="container">
  <article class="row user-info-wrapper">

    <section class="user-media-wrapper col-ex-12 col-sm-6">
      <%= render 'users/user_content'%>
    </section>

    <section class="user-map-wrapper col-ex-12 col-sm-6">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjMxrwns8Hvjk3ax8QTAYxei7Ilpen3AM&libraries=drawing,places,visualization&callback=initUserMap" async defer></script>
       <div id="user-map"></div>
    </section>

  </article>
</main>

          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <% if @user.artists.count > 0 %>
                  <h1 class="text-center"><%= link_to "Manage Artist Profile", artist_path(current_user.artists.first.id), class: "nav-link ", id: "artist_show_link" %></h1>
                  <%else%>
                  <h1 class=" text-center"><%= link_to "Create Artist Profile", new_artist_path%></h1>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
