<ul class="list-group">
  <!-- filter this to be songs based on current location -->
  <% @songs.each do |song| %>
    <li class="list-group-item">
      <div>
        <div class="row container-fluid ">
          <div class="col-sm-3 jumbotron-icon">
            <!-- <i class="fa fa-play fa-4" aria-hidden="true"></i> -->
            <!-- audio player here -->
            <audio id="song<%= song.id %>" class="media-songs" src="<%= song.attachment %>"></audio>
              <div>
              <button  class="media-play-btn" song="<%= song.id%>">play</button>
            </div>
          </div>
          <div class="col-sm-3">
            <img class="artwork-thumbnail" src="<%= song.artwork %>">
          </div>
          <div class="col-sm-6">
            <div class="row"><%= song.name %><br></div>
            <div class="row"><%= song.artist.name %></div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
