<%= form_for :song, url: artist_songs_path(@artist), :html => {:role => "form"} do |f| %>

  <% if @location_errors %>
  <ul>
    <% @location_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <div class="form-group">
    <%= f.label "Song Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.label "Art Work" %>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-small black-button btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
      <%= f.file_field :artwork, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
    </span>
    <span class="form-control"></span>
  </div>
  <%= f.label "Song File" %>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-small black-button btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
      <%= f.file_field :attachment, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
    </span>
    <span class="form-control"></span>
  </div>
  <%=f.fields_for :location do |location|%>
  <div>
    <%=location.label :expiration %>(Optional)
    <%=location.datetime_local_field :expiration%>
    <%=location.hidden_field (:long) %>
    <%=location.hidden_field (:lat) %>
    <%=location.hidden_field (:radius) %>
  </div>
  <%end%>
  <%= f.submit "DROP", class:"btn black-button" %>
<% end %>
