<%= form_for :song, url: artist_songs_path(@artist), :html => {:role => "form"} do |f| %>

  <% if @location_errors %>
  <ul>
    <% @location_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <div class="form-group">
    <%= f.label "Song Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Artwork" %>
    <%= f.file_field :artwork, type: "button", class: "btn btn-primary" %>
  </div>

    <%= f.label "Song File" %>
    <%= f.file_field :attachment, type: "button", class: "btn btn-primary"%>

  <%=f.fields_for :location do |location|%>
  <div>
    <%=location.label :expiration %>(Optional)
    <%=location.datetime_local_field :expiration%>
    <%=location.hidden_field (:long) %>
    <%=location.hidden_field (:lat) %>
    <%=location.hidden_field (:radius) %>
  </div>
  <%end%>
  <%= f.submit "DROP", class:"btn btn-primary" %>
<% end %>
