<%= form_for :song, url: artist_songs_path(@artist) do |f| %>

  <% if @location_errors %>
  <ul>
    <% @location_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <div class="field">
    <%= f.label "Song Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Artwork" %>
    <%= f.file_field :artwork %>
  </div>
  <div class="field">
    <%= f.label "Song File" %>
    <%= f.file_field :attachment%>
  </div>
  <%=f.fields_for :location do |location|%>
  <div>
    <%=location.label :expiration %>(Optional)
    <%=location.datetime_local_field :expiration%>
    <%=location.hidden_field (:long) %>
    <%=location.hidden_field (:lat) %>
    <%=location.hidden_field (:radius) %>
  </div>
  <%end%>
  <%= f.submit "DROP" %>
<% end %>
