<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Title: <%= song.name %></h3>
      </div>
      <div class="modal-body">
        <img src="<%= song.artwork %>" /><br>
        <audio controls>
          <source src="<%= song.attachment %>" type="audio/mpeg">
        </audio><br>
        <p>Artist: <%= song.artist.name %></p>
        <p>Expiration: <%= song.expire.strftime("%b %d, %Y") %><div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    <span class="sr-only">70% Complete</span>
  </div>
</div></p>
        <p>Listens: <%= song.listens.count %></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
