
<table class="table">
  <% current_user.favorites.each do |favorite| %>
  <tr>
    <td>
      <audio id="song<%= favorite.id %>" class="media-songs" src="<%= favorite.song.attachment %>"></audio>
          <button class="media-play-btn btn btn-default" song="<%= favorite.id%>"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          </button>

      </button>
    </td>
    <td><img class="artwork-thumbnail" src="<%= favorite.song.artwork %>"></td>
    <td><%= favorite.song.name %></td>
    <td><%= favorite.song.artist.name %></td>

  </tr>
  <% end %>
</table>
