<ul class="list-group">
  <% current_user.favorite_active_songs.each do |favorite| %>
    <li class="list-group-item">
      <div>
        <div class="row container-fluid ">
          <div class="col-sm-3 jumbotron-icon">
            <!-- <i class="fa fa-play fa-4" aria-hidden="true"></i> -->
            <!-- audio player here -->
            <audio id="song<%= favorite.id %>" class="media-songs" src="<%= favorite.song.attachment %>"></audio>
              <div>
              <button  class="media-play-btn" song="<%= favorite.id%>">play</button>
            </div>
          </div>
          <div class="col-sm-3">
            <img class="artwork-thumbnail" src="<%= favorite.song.artwork %>">
          </div>
          <div class="col-sm-6">
            <div class="row"><%= favorite.song.name %><br></div>
            <div class="row"><%= favorite.song.artist.name %></div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
