<!DOCTYPE html>
<html>
<head>
  <title>Earshot</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="~/earshot/ear-shot/app/assets/stylesheets/style.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjMxrwns8Hvjk3ax8QTAYxei7Ilpen3AM&libraries=drawing&callback=initMap" async defer></script>


  <%= csrf_meta_tags %>
</head>
<body >
  <div class="container-fluid">
    <!-- <div class="row header"> -->
 <% if logged_in? %>
        <%= render "layouts/navbar"%>
      <% end %>
    </div>

    <div class="main-wrapper center-block">
      <%= yield %>
    </div>
  </div>
</body>
</html>
