<!DOCTYPE html>
<html>
<head>
  <title>Earshot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <div class="header">
    <% unless request.env['PATH_INFO'] == '/' %>
      <%= render "/layouts/navbar"%>
    <% end %>
  </div>

<div class="main-wrapper center-block">
  <%= yield %>
</div>

</body>
</html>
